@using PasswordManagement.DataModel
@using PasswordManagement.Services
@using Syncfusion.Blazor.Buttons
@inject IClipboardService ClipboardService
@inject IJSRuntime JS

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Password</h4>
            </div>
            <EditForm Model="@Password" OnValidSubmit="@HandleValidSubmit">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <p>
                        <label for="identifier">Name: </label>
                        <InputText class="form-control e-input" placeholder="Name" id="Name" @bind-Value="Password.Name" />
                        <ValidationMessage For="() => Password.Name" />
                    </p>

                    <p>
                        <label for="identifier">URL: </label>
                        <InputText class="form-control e-input" placeholder="sample.com" id="identifier" @bind-Value="Password.URL" />
                        <ValidationMessage For="() => Password.URL" />
                    </p>
                    <p>
                        <label for="identifier">Username: </label>
                        <InputText class="form-control e-input" placeholder="Username" id="Username" @bind-Value="Password.UserName" />
                        <ValidationMessage For="() => Password.UserName" />
                    </p>
                    <p>
                        <label for="identifier">Password: </label>
                        <div class='e-input-group'>
                            <InputText type="@TxtType" class="form-control e-input" placeholder="Password" id="identifier" @bind-Value="Password.Password" />
                            <span class='e-icons e-input-eye' @onclick="ShowPassword"></span>
                            <SfIcon Name="IconName.Copy" @onclick="OnClick"></SfIcon>
                        </div>
                        <ValidationMessage For="() => Password.Password" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<PasswordModel> OnClose { get; set; }

    [Parameter]
    public EventCallback<PasswordModel> CreateElement { get; set; }

    [Parameter]
    public EventCallback<PasswordModel> EditElement { get; set; }

    [Parameter]
    public PasswordModel Element { get; set; }

    [Parameter]
    public bool Edit { get; set; }


    private PasswordModel info = new PasswordModel();
    public PasswordModel Password = new PasswordModel();
    public string TxtType = "password";

    protected override async Task OnInitializedAsync()
    {
        if(Edit)
        {
            Password.Id = Element.Id;
            Password.UserName = Element.UserName;
            Password.Name = Element.Name;
            Password.URL = Element.URL;
            Password.Password = Element.Password;
        }
    }

    private Task HandleValidSubmit()
    {
        if(Edit) 
        {
            return EditElement.InvokeAsync(Password);
        }
        return CreateElement.InvokeAsync(Password);
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync();
    }

    public void ShowPassword()
    {
        if (this.TxtType == "password")
        {
            this.TxtType = "text";
        }
        else
        {
            this.TxtType = "password";
        }
    }

    private async Task OnClick()
    {
        await ClipboardService.CopyToClipboard(Password.Password);
    }
}
<style> 
   .e-input-eye:before {
        content:'\e345';
        font-family: e-icons;
        font-size: 13px;
    }
</style> 